[Unit]
Description=wallet_watcher
After=network.target

[Service]
WorkingDirectory=/home/user/wallet_watcher/
ExecStart=/home/user/wallet_watcher/wallet_watcher
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
